<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <form method = 'POST' action=''>
    <div>
      <label for="postTitle"> POST TITLE:
        <input type="text" id=postTitle placeholder="post title" name='post_name' required='true'>
      </label>
    </div>
    
    <div>
      <label for="postDetails"> POST Details:
        <input type="text" id=postDetails placeholder="post details" name='post_details' required='true'>
      </label>
    </div>

    <div>
      <button type='submit'>Submit</button>
    </div>

    
  </form>
</body>
</html>