<!DOCTYPE html>
<html>
  <head>
    <title>Entry page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Entry Page</h1>
  <p>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <!-- <li><a href="/logout">Logout</a></li> -->
    </ul>
</p>
  </body>
</html>
